@{
    ViewBag.Title = "Reset password confirmation";
}
<link href="~/Content/css/login.css" rel="stylesheet" />

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('@Url.Content("~/Content/images/111.jfif")');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54" style="opacity: 0.70">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="login100-form-title p-b-49">
                        Xác nhận đặt lại mật khẩu
                    </span>
                    <div>
                        <p>
                            Your password has been changed successfully !!!
                        </p>
                    </div>
                    <div>
                        <p>
                            Your password has been reset. Please ==> @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) <== . Thanks so much !
                        </p>
                    </div>              
                }

            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>

</body>
