@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/fonts.css" rel="stylesheet" />
    <link rel= "stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="~/Content/css/style1.css" rel="stylesheet"/>
}
<style>
    .team-modern-figure img {
        width: 100%;
        height: 400px;
        transition: all .3s ease;
        will-change: transform;
    }
</style>

<!-- Breadcrumbs -->
<section class="bg-gray-7">
    <div class="breadcrumbs-custom box-transform-wrap context-dark">
        <div class="container">
            <h3 class="breadcrumbs-custom-title">Giới thiệu về chúng tôi</h3>
            <div class="breadcrumbs-custom-decor"></div>
        </div>
        <div class="box-transform" style="background-image: url(/Content/Images/about-us.jpg);"></div>
    </div>
</section>

<section class="section section-lg bg-default">
    <div class="container">
        <div class="tabs-custom row row-50 justify-content-center flex-lg-row-reverse text-center text-md-left" id="tabs-4">
            <div class="col-lg-4 col-xl-3">
                <h5 class="text-spacing-200 text-capitalize">10+ năm kinh nghiệm</h5>
                <ul class="nav list-category list-category-down-md-inline-block">
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay="0s"><a class="active" href="#tabs-4-1" data-toggle="tab">Giới thiệu</a></li>            
                </ul><a class="button button-xl button-primary button-winona" href="/Home/Contact">Liên hệ</a>
            </div>
            <div class="col-lg-8 col-xl-9">
                <!-- Tab panes-->
                <div class="tab-content tab-content-1">
                    <div class="tab-pane fade show active" id="tabs-4-1">
                        <h4>TRANSPORTZ</h4>
                        <p>
                            Chúng tôi là một dịch vụ vận chuyển hàng đầu, cam kết cung cấp giải pháp vận chuyển tối ưu và đáng tin cậy cho nhu cầu của bạn.Với kinh nghiệm và chuyên môn trong ngành, chúng tôi tự hào là đối tác vận chuyển lý tưởng cho các doanh nghiệp và cá nhân.
                        </p>
                        <p>
                            Đội ngũ chuyên gia của chúng tôi đã xây dựng mạng lưới vận chuyển rộng khắp, bao gồm các đường bay hàng không, đường biển và đường bộ. Điều này cho phép chúng tôi cung cấp dịch vụ vận chuyển đa phương thức linh hoạt, từ hàng hóa nhỏ gọn đến các lô hàng lớn và quốc tế.
                            Chất lượng và an toàn là ưu tiên hàng đầu của chúng tôi. Chúng tôi đảm bảo rằng mọi mặt hàng được vận chuyển bởi chúng tôi được xử lý cẩn thận và bảo vệ đầy đủ để đảm bảo chúng đến nơi đích an toàn và không hư hại.
                            Chúng tôi hiểu rằng mỗi khách hàng có yêu cầu riêng biệt, vì vậy chúng tôi tạo ra các giải pháp vận chuyển tùy chỉnh để đáp ứng đầy đủ nhu cầu của bạn. Chúng tôi cam kết đáp ứng thời gian giao hàng và giữ liên lạc thường xuyên để bạn luôn được cập nhật về quá trình vận chuyển.
                            Hãy để chúng tôi đồng hành cùng bạn trong mọi nhu cầu vận chuyển của bạn. Với dịch vụ chuyên nghiệp và uy tín của chúng tôi, bạn có thể yên tâm rằng hàng hóa của bạn sẽ được vận chuyển đúng hẹn và đến nơi an toàn. Hãy liên hệ với chúng tôi ngay hôm nay để bắt đầu một hợp tác thành công!
                        </p>
                        <img src="" alt="" />
                        <img src="~/Content/Images/nen.jpg" width="835" height="418" />
                    </div>
                    <div class="tab-pane fade" id="tabs-4-2">
                        <h4>Quầy Sushi & Sake Mở</h4>
                        <p>Đây là Sushi & Sake Bar duy nhất trưng bày một bộ sưu tập các loại rượu Sake nổi tiếng và những loại hải sản tươi sống được nhập khẩu từ Nhật Bản. Tại đây, thực khách cũng có thể chiêm ngưỡng được quá trình các sư phụ chuẩn bị những phần sashimi tươi ngon nhất</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <img src="~/    /assets/gioitieu2.jpg" width="835" height="418" />
                    </div>
                    <div class="tab-pane fade" id="tabs-4-3">
                        <h4>Quầy Yakitori & Beer</h4>
                        <p>Bên cạnh Sushi Bar thì bếp mở Yakitori & Beer cũng là một điểm sáng của nhà hàng. Thực khách có thể vừa thưởng thức những xiên thịt Yakitori đặc trưng cùng bộ sưu tập bia phong phú, vừa quan sát các sư phụ Nhật Bản nướng những xiên thịt thơm nồng trên bếp than hồng đỏ rực gồm bò Wagyu, thịt ba chỉ, cá và các loại thịt nướng khác.</p>

                        <img src="~/Content/assets/gioithieu3.jpg" width="835" height="418" />
                    </div>
                    <div class="tab-pane fade" id="tabs-4-4">
                        <h4>Hệ thống phòng riêng cao cấp</h4>


                        <p>Nơi đây có cung cấp phòng riêng cao cấp có những phòng VIP cho những thực khách muốn có một không gian riêng tư dành cho buổi tối hoặc những dịp đặc biệt. Mỗi phòng được thiết kế theo một chủ đề riêng biệt giúp thực khách có được những trải nghiệm phong phú và qua đó có thể hiểu về nền văn hóa Việt Nam một cách rõ nét hơn. </p>
                        <img src="~/Content/assets/gioithieu4.jpg" width="835" height="418" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Icon Classic-->
<section class="section section-lg bg-gray-100">
    <div class="container">
        <h4>TIÊU CHÍ</h4>
        <div class="row row-md row-50">
            <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-delay=".1s">
                <article class="box-icon-classic">
                    <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                        <div class="unit-right">
                            <!-- Thay đổi unit-left thành unit-right -->
                            <img src="~/Content/Images/uy-tin.png" style="float: left; margin-right: 20px; width: 100px; height: 95px;" />
                        </div>
                        <div class="unit-body">
                            <h5 class="box-icon-classic-title"><a href="">Đáng tin cậy</a></h5>
                            <p class="box-icon-classic-text"> Chất lượng là ưu tiên hàng đầu của chúng tôi, và chúng tôi đảm bảo rằng hàng hóa của bạn sẽ được vận chuyển an toàn và đúng hẹn. Bạn có thể yên tâm rằng chúng tôi sẽ chăm sóc và xử lý mọi mặt hàng của bạn một cách cẩn thận.</p>
                        </div>
                    </div>
                </article>
            </div>


            <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-delay=".1s">
                <article class="box-icon-classic">
                    <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                        <div class="unit-right">
                            <!-- Thay đổi unit-left thành unit-right -->
                            <img src="~/Content/Images/savetime.png" style="float: left; margin-right: 20px; width: 100px; height: 100px;" />
                        </div>
                        <div class="unit-body">
                            <h5 class="box-icon-classic-title"><a href="">Tiết kiệm thời gian và công sức</a></h5>
                            <p class="box-icon-classic-text">Bằng cách sử dụng dịch vụ của chúng tôi, bạn sẽ tiết kiệm được thời gian và công sức. Chúng tôi sẽ xử lý tất cả các khía cạnh liên quan đến vận chuyển hàng hóa, từ thu thập và đóng gói cho đến xử lý các thủ tục hải quan và giấy tờ. Bạn có thể tập trung vào công việc chính của mình trong khi chúng tôi lo lắng về việc đưa hàng hóa của bạn đến nơi đích.</p>
                        </div>
                    </div>
                </article>
            </div>


            <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-delay=".1s">
                <article class="box-icon-classic">
                    <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                        <div class="unit-right">
                            <!-- Thay đổi unit-left thành unit-right -->
                            <img src="~/Content/Images/help.png" style="float: left; margin-right: 20px; width: 100px; height: 100px;" />
                        </div>
                        <div class="unit-body">
                            <h5 class="box-icon-classic-title"><a href="">Dịch vụ chăm sóc khách hàng</a></h5>
                            <p class="box-icon-classic-text">Đội ngũ chuyên gia của chúng tôi sẽ sẵn lòng giải đáp mọi thắc mắc, cung cấp thông tin về quá trình vận chuyển và đảm bảo rằng bạn nhận được sự hỗ trợ cần thiết trong suốt quá trình vận chuyển hàng hóa.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<!-- Our Team-->
<section class="section section-lg section-bottom-md-70 bg-default">
    <div class="container">
        <h3 class="oh"><span class="d-inline-block wow slideInUp" data-wow-delay="0s">OUR TEAM</span></h3>
        <div class="row row-lg row-40 justify-content-center">
            <div class="col-sm-6 col-lg-3 wow fadeInLeft" data-wow-delay=".2s" data-wow-duration="1s">
                <!-- Team Modern-->
                <article class="team-modern">
                    <a class="team-modern-figure" href="#"><img src="~/Content/Images/349355156_980889916247449_1591309346706244215_n.jpg" alt="" width="270" height="236" /></a>

                    <div class="team-modern-caption">
                        <h6 class="team-modern-name"><a href="#"> Mai Huy Hoàng</a></h6>
                        <div class="team-modern-status">Coder</div>
                        <div class="col-md-3 info_logo">
                      
                          
                            <div style="margin-left:50px" class="info_social">
                                <div>
                                    <a href="https://www.facebook.com/TI.GAY.DE.THUONGGG">
                                        <img src="~/Content/Images/fb.png" alt="">
                                    </a>
                                </div>
                                <div>
                                    <a href="">
                                        <img src="~/Content/Images/twitter.png" alt="">
                                    </a>
                                </div>
                                <div>
                                    <a href="">
                                        <img src="~/Content/Images/g-plus.png" alt="">
                                    </a>
                                </div>
                                <div>
                                    <a href="">
                                        <img src="~/Content/Images/linkedin.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInLeft" data-wow-delay="0s" data-wow-duration="1s">
                <!-- Team Modern-->
                <article class="team-modern">
                    <a class="team-modern-figure" href="#"><img src="~/Content/Images/349009690_560136289525394_3722261723401772045_n.jpg" alt="" width="270" height="236" /></a>
                    <div class="team-modern-caption">

                        <h6 class="team-modern-name"><a href="#">Tăng Bá Quang Minh</a></h6>
                        <div class="team-modern-status">Múa lửa</div>
                        <div style="margin-left:50px" class="info_social">
                            <div>
                                <a href="https://www.facebook.com/minhlouis287">
                                    <img src="~/Content/Images/fb.png" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <img src="~/Content/Images/twitter.png" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <img src="~/Content/Images/g-plus.png" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <img src="~/Content/Images/linkedin.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>



