<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google-Map-API</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins"
          rel="stylesheet" />

    <!-- new links  -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

    <!-- work sans font link -->
    <link href="https://fonts.googleapis.com/css?family=Work Sans"
          rel="stylesheet" />
</head>

<!---------- Navigation -------------->

<body>

    <div class="hero_area">

        <!-- slider section -->
        <section class=" slider_section ">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="container">
                            <div class="slider_item-container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="slider_item-detail">
                                            <div class="slider_form-box">
                                                <form action="">
                                                    <div class="search_input">
                                                        <input type="text">
                                                        <img src="~/Content/Images/search-icon.png" alt="">
                                                    </div>

                                                    <button>
                                                        Tra cứu vận đơn
                                                    </button>
                                                </form>
                                            </div>
                                            <div>
                                                <h2>
                                                    Nâng tầm trải nghiệm
                                                </h2>
                                                <h2>

                                                    Cùng TRANSPORTZ
                                                </h2>
                                                <h1>
                                                    Phiên bản mới nhất
                                                </h1>

                                                <div class="d-flex">
                                                    <div>
                                                        <a href="" class="read-btn">

                                                            <span>
                                                                Read More
                                                            </span>
                                                            <img src="~/Content/Images/white-next.png" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="ml-3">
                                                        <a href="" class="quote-btn">

                                                            <span>
                                                                Get A Quote
                                                            </span>
                                                            <img src="~/Content/Images/white-next.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="slider_img-box">
                                            <img src="~/Content/Images/truck.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="slider_item-container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="slider_item-detail">
                                            <div class="slider_form-box">
                                                <form action="">
                                                    <div class="search_input">
                                                        <input type="text">
                                                        <img src="~/Content/Images/search-icon.png" alt="">
                                                    </div>

                                                    <button>
                                                        Tra cứu vận đơn
                                                    </button>
                                                </form>
                                            </div>
                                            <div>
                                                <h2>
                                                    Vận tải đường bộ &amp; Dịch vụ
                                                </h2>
                                                <h1>
                                                    Làm việc với tiêu chí <br>
                                                    " Làm đúng ngay từ đầu "
                                                </h1>

                                                <div class="d-flex">
                                                    <div>
                                                        <a href="/home/about" class="read-btn">

                                                            <span>
                                                                Read More
                                                            </span>
                                                            <img src="~/Content/Images/white-next.png" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="ml-3">
                                                        <a href="" class="quote-btn">

                                                            <span>
                                                                Get A Quote
                                                            </span>
                                                            <img src="~/Content/Images/white-next.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="slider_img-box">
                                            <img src="~/Content/Images/truck.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="slider_item-container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="slider_item-detail">
                                            <div class="slider_form-box">
                                                <form action="">
                                                    <div class="search_input">
                                                        <input type="text">
                                                        <img src="~/Content/Images/search-icon.png" alt="">
                                                    </div>

                                                    <button>
                                                        Tra cứu vận đơn
                                                    </button>
                                                </form>
                                            </div>
                                            <div>
                                                <h2>
                                                    Dịch vụ hoàn cước TRANSPORTZ
                                                </h2>
                                                <h1>
                                                    Tiện ích ngập tràn <br>
                                                    Chẳng sợ " hoàn đơn "
                                                </h1>

                                                <div class="d-flex">
                                                    <div>
                                                        <a href="" class="read-btn">

                                                            <span>
                                                                Read More
                                                            </span>
                                                            <img src="~/Content/Images/white-next.png" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="ml-3">
                                                        <a href="" class="quote-btn">

                                                            <span>
                                                                Get A Quote
                                                            </span>
                                                            <img src="~/Content/Images/white-next.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="slider_img-box">

                                            <img src="~/Content/Images/truck.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="slider_item-container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="slider_item-detail">
                                            <div class="slider_form-box">
                                                <form action="">
                                                    <div class="search_input">
                                                        <input type="text">
                                                        <img src="~/Content/Images/search-icon.png" alt="">
                                                    </div>

                                                    <button>
                                                        Tra cứu vận đơn
                                                    </button>
                                                </form>
                                            </div>
                                            <div>

                                                <h2>
                                                    Nhấc máy ngay<br>
                                                    Giao/Nhận liền tay
                                                </h2>
                                                <h1>
                                                    Số thuê bao chính thức <br>
                                                    " 0367883482 "
                                                </h1>


                                                <div class="d-flex">
                                                    <div>
                                                        <a href="" class="read-btn">

                                                            <span>
                                                                Read More
                                                            </span>
                                                            <img src="~/Content/Images/white-next.png" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="ml-3">
                                                        <a href="" class="quote-btn">

                                                            <span>
                                                                Get A Quote
                                                            </span>
                                                            <img src="~/Content/Images/white-next.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="slider_img-box">
                                            <img src="~/Content/Images/truck.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </section>

        <!-- end slider section -->
    </div>


    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE8-06Xv8BQk2pA9fhSa6nOartz-Tg7tg&callback=initMap"></script> -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAolXVBph__8LXk-JukgnxDUI4LPDQAsxQ&callback=initMap"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM4R4ZQGmaCj3wA4R3ykoEr4EeQPHSvRc&libraries=places&callback=initMap"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/js/script.js"></script>

    <div>
        .
    </div>
    <div>
        .
    </div>
    <div>
        .
    </div>
    <!-- shop section -->
    <section class="shop_section">
        <div class="container">
            <div class="d-flex justify-content-center">
                <h2 class="heading_style">
                    Chọn TRANSPORTZ vì ?
                </h2>
            </div>
        </div>
    </section>
    <!-- end shop section -->

    <div style="text-align: center;">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div>
                    <img src="~/Content/Images/thanh cong.png" />
                    <div class="dcv_why_choose_title">GIAO HÀNG NHANH</div>
                    <div style="width: 50%; display: block; margin: 0px auto 2px auto; border-bottom: 1px solid #61c4ef; margin-top: 5px;"></div>
                    <div style="width: 80%; display: block; margin: 0px auto; border-bottom: 2px solid #61c4ef; margin-bottom: 15px;"></div>
                    <div class="dcv_why_choose_content" style="color: #666;">Tỷ lệ đơn hàng giao thành công trung bình đạt hơn 99,999%</div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div>
                    <img src="~/Content/Images/phi re.png" />
                    <div class="dcv_why_choose_title">CƯỚC PHÍ RẺ</div>
                    <div style="width: 50%; display: block; margin: 0px auto 2px auto; border-bottom: 1px solid #61c4ef; margin-top: 5px;"></div>
                    <div style="width: 80%; display: block; margin: 0px auto; border-bottom: 2px solid #61c4ef; margin-bottom: 15px;"></div>
                    <div class="dcv_why_choose_content" style="color: #666;">Giao hàng cấp tốc trong ngày, cước phí thấp hơn 20% so với mặt bằng chung.</div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div>
                    <img src="~/Content/Images/chiet khau.png" />
                    <div class="dcv_why_choose_title">CHIẾT KHẤU HẤP DẪN</div>
                    <div style="width: 50%; display: block; margin: 0px auto 2px auto; border-bottom: 1px solid #61c4ef; margin-top: 5px;"></div>
                    <div style="width: 80%; display: block; margin: 0px auto; border-bottom: 2px solid #61c4ef; margin-bottom: 15px;"></div>
                    <div class="dcv_why_choose_content" style="color: #666;">Chiết khấu ưu đãi hàng tháng từ 5% đến 15% trên tổng cước phí giao hàng.</div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div>
                    <img src="~/Content/Images/chuyen nghiep.png" />
                    <div class="dcv_why_choose_title">CHUYÊN NGHIỆP</div>
                    <div style="width: 50%; display: block; margin: 0px auto 2px auto; border-bottom: 1px solid #61c4ef; margin-top: 5px;"></div>
                    <div style="width: 80%; display: block; margin: 0px auto; border-bottom: 2px solid #61c4ef; margin-bottom: 15px;"></div>
                    <div class="dcv_why_choose_content" style="color: #666;">Chuyên nghiệp trong phong cách, tốc độ giao, quản lý đơn hàng online.</div>
                </div>
            </div>
        </div>
    </div>


    <div>
        .
    </div>
    <div>
        .
    </div>
    <div>
        .
    </div>


    <section class="shop_section">
        <div class="container">
            <div class="d-flex justify-content-center" style="margin-bottom:50px;">
                <h2 class="heading_style">
                    Các Loại Dịch Vụ
                </h2>
            </div>
        </div>
    </section>
    <div class="container">
        <div style="text-align: center;">
            <div class="row">
                <div class="col-sm-4 col-md-4" style="margin-bottom: 10px;">
                    <div>
                        <div class="dcv_logo_partners" style="text-align: center; margin-top:-50px;">
                            <img src="~/Content/Images/logoo.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4" style="margin-bottom: 20px;">
                    <div>
                        <div class="dcv_logo_partners" style="text-align: left;">
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-check-square"></i>MIỄN PHÍ LẤY HÀNG, THU HỘ</li>
                                <li><i class="fa-li fa fa-check-square"></i>CUNG CẤP BẢO HIỂM HÀNG HÓA</li>
                                <li><i class="fa-li fa fa-check-square"></i>GIAO KHÔNG THÀNH CÔNG, KHÔNG THU CƯỚC</li>
                                <li><i class="fa-li fa fa-check-square"></i>GIAO ĐÚNG GIỜ ĐÃ HẸN</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4" style="margin-bottom: 20px;">
                    <div>
                        <div class="dcv_logo_partners" style="text-align: left;">
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-check-square"></i>QUẢN LÝ ĐƠN HÀNG ONLINE</li>
                                <li><i class="fa-li fa fa-check-square"></i>GIAO HÀNG LẦN 3 MIỄN PHÍ</li>
                                <li><i class="fa-li fa fa-check-square"></i>CHUYỂN KHOẢN COD 3 LẦN/TUẦN</li>
                                <li><i class="fa-li fa fa-check-square"></i>HOTLINE HỖ TRỢ 24/7</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- testimonial section -->
    <section class="client_section layout_padding">
        <div class="d-flex justify-content-center">
            <h2 class="heading_style">
                Khách Hàng Thân Thiết ❤
            </h2>
        </div>
        <div id="carouselExampleIndicator" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicator" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicator" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicator" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicator" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="client_box c-b-1">
                                    <div class="client_img">
                                        <img src="~/Content/Images/Khoi.jpg" style="float: left; margin-right: 20px; width: 140px; height: 150px;" alt="" class="img-fluid">
                                    </div>
                                    <div class="client_detail">
                                        <h5>
                                            Chú Khôi <br>
                                            Đánh giá : ⭐⭐⭐⭐⭐
                                        </h5>
                                        <p>
                                            Điều đầu tiên khiến mình chọn Transportz là tác phong quân đội rất chuẩn chỉnh! Đúng giờ và tuân thủ rất nghiêm các quy định về hàng hóa, giao nhận. Doanh nghiệp mình vì thế mà cũng được KH đánh giá cao trong khâu vận chuyển hàng. Tương lai mong Transportz sẽ ngày càng lớn mạnh và thành công hơn nữa, vì sự tự tế của các bạn là điều mà chúng tôi luôn công nhận!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="client_box c-b-2">
                                    <div class="client_img">
                                        <img src="~/Content/Images/Lan.jpg" style="float: left; margin-right: 20px; width: 130px; height: 140px;" alt="" class="img-fluid">
                                    </div>
                                    <div class="client_detail">
                                        <h5>
                                            Bác Lân <br>
                                            Đánh giá : ⭐⭐⭐⭐⭐
                                        </h5>
                                        <p>
                                            Đồng hành với Transportz 4 năm rồi và chưa bao giờ thấy mình lựa chọn sai. Các bạn giao hàng rất nhiệt tình và lễ phép, lấy hàng quen thành ra mấy mấy chị em cũng hay hỏi thăm nhau.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="client_box c-b-1">
                                    <div class="client_img">
                                        <img src="~/Content/Images/Do.jpg" style="float: left; margin-right: 20px; width: 140px; height: 150px;" alt="" class="img-fluid">
                                    </div>
                                    <div class="client_detail">
                                        <h5>
                                            Anh Đô <br>
                                            Đánh giá : ⭐⭐⭐⭐⭐
                                        </h5>
                                        <p>
                                            Chị kinh doanh và hay mua bán online lắm. Từ ngày dịch dã đến lại càng phải dùng tới dịch vụ của Transportz nhiều hơn. Cảm ơn các đồng chí Transportz rất nhiều, chị thấy hài lòng về dịch vụ bên mình.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="client_box c-b-2">
                                    <div class="client_img">
                                        <img src="~/Content/Images/Tuong.jpg" style="float: left; margin-right: 20px; width: 130px; height: 150px;" alt="" class="img-fluid">
                                    </div>
                                    <div class="client_detail">
                                        <h5>
                                            Bác Tường <br>
                                            Đánh giá : ⭐⭐⭐⭐⭐
                                        </h5>
                                        <p>
                                            Chuyên nghiệp , chị đánh giá cao sự chuyên nghiệp và tận tâm của đội ngũ nhân viên vận chuyển. Họ luôn thể hiện sự am hiểu sâu sắc về quy trình vận chuyển và xử lý hàng hóa một cách chuyên nghiệp. Sự tận tâm của họ đảm bảo rằng hàng hóa của chị luôn được vận chuyển đúng hẹn và an toàn.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="client_box c-b-1">
                                    <div class="client_img">
                                        <img src="~/Content/Images/Phuc.jpg" style="float: left; margin-right: 20px; width: 130px; height: 150px;" alt="" class="img-fluid">
                                    </div>
                                    <div class="client_detail">
                                        <h5>
                                            Cậu Phúc <br>
                                            Đánh giá : ⭐⭐⭐⭐⭐
                                        </h5>
                                        <p>
                                            Đội xe hiện đại , chú rất ấn tượng với đội xe của Transportz. Các phương tiện vận chuyển được bảo dưỡng định kỳ và hiện đại, giúp đảm bảo rằng hàng hóa được vận chuyển một cách an toàn và không gặp sự cố trên đường.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="client_box c-b-2">
                                    <div class="client_img">
                                        <img src="~/Content/Images/Toan.jpg" style="float: left; margin-right: 20px; width: 130px; height: 150px;" alt="" class="img-fluid">
                                    </div>
                                    <div class="client_detail">
                                        <h5>
                                            Chị Toản<br>
                                            Đánh giá : ⭐⭐⭐⭐⭐
                                        </h5>
                                        <p>
                                            Sự linh hoạt của Transportz đã đáp ứng tốt nhu cầu vận chuyển của chị bằng cách cung cấp các dịch vụ linh hoạt. Transportz đã luôn sẵn sàng thay đổi lịch trình hoặc điều chỉnh đơn hàng theo yêu cầu của chị một cách hiệu quả. Điều này rất quan trọng đối với chị, vì nó cho phép tôi linh hoạt trong kế hoạch kinh doanh của mình.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="client_box c-b-1">
                                    <div class="client_img">
                                        <img src="~/Content/Images/DA.jpg" style="float: left; margin-right: 20px; width: 130px; height: 150px;" alt="" class="img-fluid">
                                    </div>
                                    <div class="client_detail">
                                        <h5>
                                            Em Duy Anh<br>
                                            Đánh giá : ⭐⭐⭐⭐⭐
                                        </h5>
                                        <p>
                                            Đáng tin cậy !!! Dịch vụ vận chuyển của Transportz rất đáng tin cậy. Em đã sử dụng dịch vụ của bạn trong một thời gian dài và không gặp bất kỳ sự cố nào. Em hoàn toàn tin tưởng vào khả năng của Transportz để vận chuyển hàng hóa của tôi một cách an toàn và đúng hẹn.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="client_box c-b-2">
                                    <div class="client_img">
                                        <img src="~/Content/Images/Hoang.jpg" style="float: left; margin-right: 20px; width: 130px; height: 150px;" alt="" class="img-fluid">
                                    </div>
                                    <div class="client_detail">
                                        <h5>
                                            Anh Hoàng <br>
                                            Đánh giá : ⭐⭐⭐⭐⭐
                                        </h5>
                                        <p>
                                            Tôi muốn đề cao dịch vụ khách hàng của Transportz. Nhân viên của Transportz luôn lắng nghe và đáp ứng mọi câu hỏi và yêu cầu của tôi một cách nhanh chóng và chuyên nghiệp. Họ tạo ra một môi trường thân thiện và hỗ trợ cho tôi, giúp tôi cảm thấy tự tin và yên tâm về quá trình vận chuyển của mình.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end testimonial section -->
    <!-- company section -->
    <section class="company_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-center h-100">
                        <div class="company-detail">
                            <h3>
                                Transportz
                            </h3>

                            <h4>
                                Mạng lưới bưu cục trên 63 tỉnh thành
                            </h4>

                            <h5>
                                <a href="https://apps.apple.com/us/app/viettelpost-chuy%E1%BB%83n-ph%C3%A1t-nhanh/id1398283517">
                                    <img src="https://viettelpost.com.vn/wp-content/themes/viettel/assets/images/app.png" alt="" class="lz">
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=com.viettel.ViettelPost">
                                    <img src="https://viettelpost.com.vn/wp-content/themes/viettel/assets/images/gg.png" alt="" class="lz">
                                </a>
                            </h5>
                            <img src="/Content/Images/memberr.png" style="float: left; margin-right: 20px; width: 70px; height: 70px;">
                            <h5 class="#">999.999.999+</h5>
                            <p>KHÁCH HÀNG TIN DÙNG</p>

                            <img src="/Content/Images/product.png" style="float: left; margin-right: 20px; width: 70px; height: 70px;">
                            <h5 class="#">999.999.999+</h5>
                            <p>ĐƠN HÀNG ĐANG VẬN CHUYỂN</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="company_img-box">
                        <img src="~/Content/Images/12.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end company section -->


    <div class="navigation">
        <img class="logo" src="./image 1.png" alt="" />
    </div>

    <!-- -------------- Mian -------------- -->


</body>
</html>
<script>
    var showDetails = 0;

    const initMap = () => {
        var mapProp = {
            center: new google.maps.LatLng(10.855298, 106.785043),
            zoom: 17,
        };

        var directionsService = new google.maps.DirectionsService();
        var directionsRenderer = new google.maps.DirectionsRenderer();
        var distanceService = new google.maps.DistanceMatrixService();

        var map = new google.maps.Map(document.getElementById("google-map"), mapProp);
        directionsRenderer.setMap(map);

        var origin = document.getElementById('from');
        var autocompleteOrigin = new google.maps.places.Autocomplete(origin);

        var dest = document.getElementById('to');
        var autocompleteDest = new google.maps.places.Autocomplete(dest);

        console.log(autocompleteOrigin, autocompleteDest)

        autocompleteOrigin.addListener('place_changed', function () {
            var place = autocompleteOrigin.getPlace();

            console.log(place)
            console.log(document.getElementById('origin-add').value)

        });
        //an map,an dat xe
        document.getElementById('show-route-btn').addEventListener('click', () => {
            var placeOrigin = autocompleteOrigin.getPlace();
            console.log(placeOrigin)
            var placeDest = autocompleteDest.getPlace();
            console.log(placeDest)

            var start = document.getElementById('from').value;
            var end = document.getElementById('to').value;
            var selectedMode = 'DRIVING';

            var request = {
                origin: start,
                destination: end,
                travelMode: selectedMode
            };
            const distanceRequest = {
                origins: [start],
                destinations: [end],
                travelMode: selectedMode,
                avoidHighways: false,
                avoidTolls: false,
            };
            window.initMap = initMap;
</script>

